{% extends 'security.html.twig' %}

{% block title %}
    S'authentifier
{% endblock %}

{% block body %}

    <div class="login-dark">

        <form method="post">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="mb-3" >  <center>  <font face="Times new romain" size="6" > Université AMS</font> </center></div>


            {% if app.user %}
                <div class="mb-3" >
                     Vous êtes connecté(e) en tant que {{ app.user.userIdentifier }}
                </div>
            {% endif %}

            <label for="inputUsername">Nom de l'utilisateur</label>
            <input type="text"  name="username" id="inputUsername" class="form-control" autocomplete="current-username" required >
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <hr>
            <center>
            <button class="btn btn-lg btn-outline-primary" type="submit" >
               Se connecter
            </button>
            </center>


        </form>

    </div>

{% endblock %}

