{% extends 'template.html.twig' %}

{% block title %}Nouvelle filière{% endblock %}

{% block body %}
    <h1>Créer une nouvelle filière</h1>

    {{ include('filiere/_form.html.twig') }}

    <a href="{{ path('app_filiere_index') }}"><button>Retour</button></a>
{% endblock %}
