{% extends 'template.html.twig' %}

{% block title %}Nouvelle Classe{% endblock %}

{% block body %}
    <h1 >Créer une nouvelle classe</h1>

    {{ include('classe/_form.html.twig') }}

    <a href="{{ path('app_classe_index') }}" style="text-decoration: none"><button>Retour</button></a>
{% endblock %}
