{% extends 'template.html.twig' %}

{% block title %}Modifier une session{% endblock %}

{% block body %}
    <h1>Modfier session</h1>

    {{ include('session/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_session_index') }}"><button>Retour</button></a>

    {{ include('session/_delete_form.html.twig') }}
{% endblock %}
