{% extends 'template.html.twig' %}

{% block title %}Nouvelle session{% endblock %}

{% block body %}
    <h1>Créer une session</h1>

    {{ include('session/_form.html.twig') }}

    <a href="{{ path('app_session_index') }}"><button>Retour</button></a>
{% endblock %}
