{% extends 'template.html.twig' %}

{% block title %}Npuvea module{% endblock %}

{% block body %}
    <h1>Créer un nouveau module</h1>

    {{ include('module/_form.html.twig') }}

    <a href="{{ path('app_module_index') }}"><button>Retour</button></a>
{% endblock %}
