{% extends 'template.html.twig' %}

{% block title %}Modifier le cours{% endblock %}

{% block body %}
    <h1>Modifier le cours</h1>

    {{ include('cours/_form.html.twig', {'button_label': 'Modifier'}) }}
    <br>
    <button><a href="{{ path('app_cours_index') }}">Retour</a></button>
    <br>
    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
