{% extends 'template.html.twig' %}

{% block title %}Nouveau cours{% endblock %}

{% block body %}
    <h1>Créer un nouveau cours</h1>
    <br>
    {{ include('cours/_form.html.twig') }}
    <br>
    <a href="{{ path('app_cours_index') }}"><button>Retour</button></a>
{% endblock %}
